<!-- 
Written by: Blake Conrad
Purpose: Meant to take you to the Go Query page
-->

<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Team Blake Conrad</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" 
rel="stylesheet">
 
    <link 
href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" 
rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a 
href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign 
Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Bible Similarity App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Bible Similarity App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" 
role="button">Go Query</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Team Blake Conrad #1 </h4>
                <p>Filler Text To Make The App Look Important</p>
                <h4>Team Blake Conrad #1 </h4>
                <p>Filler Text To Make The App Look Important</p>
                <h4>Team Blake Conrad #1 </h4>
                <p>Filler Text To Make The App Look Important</p>
            </div>
 
             <div class="col-lg-6">
                <h4>Team Blake Conrad #1 </h4>
                <p>Filler Text To Make The App Look Important</p>
                <h4>Team Blake Conrad #1 </h4>
                <p>Filler Text To Make The App Look Important</p>
                <h4>Team Blake Conrad #1 </h4>
                <p>Filler Text To Make The App Look Important</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Team Blake Conrad, Inc.</p>
        </footer>
 
    </div>
</body>
 
</html>
