<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
      
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" 
rel="stylesheet">
 
    <link 
href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" 
rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
      
    <script>
      $(document).ready(function(){
        $(function() {
            $('#btnSignUp').click(function() {

                $.ajax({
                    url: '/queryBible',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                        console.log($('form').find('input'));
                        
                        $('form').find('input').val(''); 
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });   
      });

    </script>
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation" class="active"><a href="#">Bible Query</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Query Time</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Bible Chapter Similarity App</h1>
        <form class="form-signin">
            <label for="bookSelected" class="sr-only">Book</label>
            <input type="text" name="bookSelected" id="bookSelected" 
    class="form-control" placeholder="Book ..." required autofocus>
            <label for="selectedChapter" class="sr-only">Chapter</label>
            <input type="text" name="chapterSelected" id="chapterSelected" 
    class="form-control" placeholder="Chapter..." required autofocus>
            <label for="selectedVerse" class="sr-only">Verse</label>
            <input type="text" name="selectedVerse" id="selectedVerse" 
    class="form-control" placeholder="Password" required>

            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" 
    type="button">Search</button>
            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" 
    type="button">Find Similar</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>
